.custom-quill-editor .ql-toolbar {
  /* color: #f0f0f0; */
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
.custom-quill-editor .ql-editor {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  height: 290px;
}
.custom-quill-editor .ql-container {
  border: none;
}

.dark-mode .ql-toolbar {
  background-color: #f0f0f0;
}

.light-mode .ql-toolbar .ql-snow {
  background-color: #252525;
  color: "red" !important;
}
